* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

.about {
	background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

nav, footer {
	background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
}

nav {
	height: 70px;
	display: flex;
	justify-content: flex-end;
}

.nav-links {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	width: 15%;
	white-space: nowrap;
	margin-right: 3%;
}

footer {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: space-around;
}

footer p {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 13px;
}

footer p a {
	text-decoration: underline;
}

.grid-container {
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}

.grid-container img {
	margin: auto;
	border-radius: 50%;
	width: 250px;
	border: 2px solid black;
	grid-column-start: 1;
  	grid-column-end: 4;
}

.grid-container p {
	color: black;
	border: 2px solid black;
	background-color: rgb(243, 240, 240);
	border-radius: 10%;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 1%;
}