* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	overflow: scroll;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

::-webkit-scrollbar {
    display: none;
}

.about {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	width: 100%;
	height: 100%;
}

nav, footer {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 	background-blend-mode: multiply;
}

nav {
	height: 70px;
	display: grid;
	align-content: center;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 90%;
	margin: 0 auto;
	justify-items: end;
}

.nav-links {
	grid-column: 2/4;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
}

li:first-of-type {
	margin-right: 10%;
}

li:last-of-type {
	margin-right: 20px;
}

.background-div {
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	padding: 2% 0 1% 0;
	background-size: cover;
}

.grid-container {
	width: 87%;
	height: 100%;
	margin: 0 auto;
}

.grid-container p, .profile-page p {
	color: black;
	letter-spacing: .5px;
	padding: 3%;
	line-height: 1.5em;
	text-shadow: .1px .1px black;
}

.profile-page h2 {
	text-transform: uppercase;
	color: #333;
	margin-bottom: .3em;
}

.profile-section {
	width: 100%;
	padding: 4% 0;
	border-top: 3px solid grey;
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

footer p a {
	text-decoration: underline;
}

.conic {
	margin: 0 auto;
	border-radius: 50%;
	width: 310px;
	height: 310px;
	background: conic-gradient(#6DBAB5 0%, #BEB34B 100%) 50% 50% / 100% 100% no-repeat;
	padding: .3em;
}

.grid-container img {
	width: 300px;
	height: 300px;
}

.profile-page > div {
	width: 90%;
	padding: 2.5%;
	margin: 0 auto;
	margin-bottom: 5%;
	background-color: #FAFFFE;
	border: 1px solid grey;
	box-shadow: 0px 1px grey;
}

figure {
	margin: 0 auto;
	width: 100%;
	max-width: 361px;
	align-self: center;
}

figure img {
	border: 1px solid grey;
}

figcaption {
	color: black;
	letter-spacing: .5px;
	width: 100%;
	max-width: 361px;
}

.dark-text {
	color: black;
	text-decoration: underline;
	font-weight: bold;
	text-shadow: none;
}

footer {
	display: flex;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: space-around;
}

footer p {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 2.3vw;
}

@media only screen and (min-width: 580px) {
	footer p {
		font-size: 13px;
	}
}

@media only screen and (min-width: 900px) {
	.nav-links {
		grid-column: 3/4;
		display: flex;
		list-style: none;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;
	}

	li:last-of-type {
		margin-right: 0px;
	}
	

	footer {
		display: flex;
		position: relative;
		bottom: 0;
		width: 100%;
		height: 60px;
		align-items: center;
		justify-content: space-around;
	}

	footer p {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		font-size: 13px;
	}

	.grid-container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(auto, 250px);
		align-items: flex-start;
		grid-column-gap: .5em;
	}

	.conic {
		justify-self: center;
		border-radius: 50%;
		width: 310px;
		height: 310px;
		background: conic-gradient(#6DBAB5 0%, #BEB34B 100%) 50% 50% / 100% 100% no-repeat;
		padding: .3em;
	}

	.bio {
		align-self: center;
	}

	.contact {
		align-self: center;
	}

	.profile-section {
		width: 100%;
		padding: 2% 0;
		border-top: 3px solid grey;
		background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
	}

	.profile-page {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 1.5em;
		margin: 0% auto;
	}

	.profile-page p {
		padding: 0;
		margin: 0;
		padding-right: 3%;
	}

	.profile-page > div {
		align-self: center;
		grid-column: 1/5;
		background-color: #FAFFFE;
		padding: 1.5%;
		border: 1px solid grey;
		box-shadow: 0px 1px grey;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 0;
	}

	.profile-page > div > div {
		grid-column: 1/3;
	}

	#future > div, #other-projects > div {
		grid-column: 1/4;
	}

	figure {
		margin: 0 auto;
	}

	figure img {
		border: 1px solid grey;
	}

	figcaption {
		color: black;
		letter-spacing: .5px;
	}
}